<form id="delete" method="post" action="{{ path('person_delete', {'id': person.id}) }}"
      onsubmit="return confirm('{% trans %}Are you sure you want to delete this item?{% endtrans %}');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ person.id) }}">
</form>
