<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ title }}</h5>
        {{ form_start(form) }}
        <div class="row">
            <div class="col-md">{{ form_row(form.firstName) }}</div>
            <div class="col-md">{{ form_row(form.lastName) }}</div>
        </div>
        <div class="row">
            <div class="col-md">{{ form_row(form.email) }}</div>
            <div class="col-md">{{ form_row(form.phone) }}</div>
        </div>
        {{ form_row(form.birthDate) }}
        <div class="row">
            <div class="col-md">
                {{ form_row(form.picture) }}
            </div>
            {% if person.picture %}
                <div class="col-md">
                    <img src="{{ person.picture.realPath }}" class="img-thumbnail img-responsive">
                </div>
            {% endif %}
        </div>
        <h6 class="card-subtitle text-muted mt-5 mb-2">{% trans %}Address Information{% endtrans %}</h6>
        {{ form_row(form.address.address) }}
        <div class="row">
            <div class="col-md">{{ form_row(form.address.zip) }}</div>
            <div class="col-md">{{ form_row(form.address.city) }}</div>
            <div class="col-md">{{ form_row(form.address.country) }}</div>
        </div>
        <div class="row">
            <div class="col-auto">
                <button class="btn btn-success">
                    <i class="fas fa-save mr-1"></i>
                    {{ button_label|default('Save'|trans) }}
                </button>
                {% if person.id %}
                    <a href="{{ path('person_show', {id: person.id}) }}" class="btn btn-info">
                        <i class="fas fa-eye mr-1"></i>
                        {% trans %}Show{% endtrans %}
                    </a>
                {% endif %}
                <a href="{{ path('person_index') }}" class="btn btn-secondary">
                    <i class="fas fa-list mr-1"></i>
                    {% trans %}List{% endtrans %}
                </a>
            </div>
            {% block actions %}{% endblock %}
        </div>
        {{ form_end(form) }}
    </div>
</div>
