{% extends 'base.html.twig' %}

{% block title %}{% trans %}Edit Person{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('person_show', {id: person.id}) }}">{{ person.firstName }}</a>
    </li>
    <li class="breadcrumb-item active">{{ block('title') }}</li>
{% endblock %}

{% block body %}
    {% embed 'person/_form.html.twig' with {title: block('title'), button_label: 'Update'|trans} %}
        {% block actions %}
            <div class="col text-right">
                <button class="btn btn-danger" type="button" onclick="$('#delete').submit()">
                    <i class="fas fa-trash mr-1"></i>
                    {% trans %}Delete{% endtrans %}
                </button>
            </div>
        {% endblock %}
    {% endembed %}
    {% include 'person/_delete_form.html.twig' %}
{% endblock %}
