{% extends 'base.html.twig' %}

{% block title %}{% trans %}Address Book{% endtrans %}{% endblock %}

{% block body %}
    <a href="{{ path('person_new') }}" class="btn btn-success mb-3">
        <i class="fas fa-plus mr-1"></i>
        {% trans %}New Person{% endtrans %}
    </a>
    {% if people is empty %}
        <div class="alert alert-warning">
            {% trans %}No records found{% endtrans %}
        </div>
    {% else %}
        <div id="app" class="row">
            <div class="col-md-4">
                <div class="list-group">
                    <a href="javascript:" v-for="p in people" @click="loadPerson(p)"
                       class="list-group-item list-group-item-action" :class="{active: person.id === p.id}">
                        <img :src="p.avatar" class="avatar border rounded-circle" v-if="p.avatar">
                        <span v-text="p.name"/>
                    </a>
                </div>
            </div>
            <div class="col mt-3 mt-md-0">
                <div class="alert alert-warning" v-if="!person.id">
                    {% trans %}Select a person{% endtrans %}
                </div>
                <div class="card" v-else>
                    <div class="card-body">
                        <div class="d-flex align-items-center" v-if="loading">
                            <strong>{% trans %}Loading{% endtrans %}</strong>
                            <div class="spinner-grow text-info ml-auto" role="status" aria-hidden="true"></div>
                        </div>
                        <template v-else>
                            <h5 class="card-title">
                                <img :src="person.picture.realPath" class="avatar border rounded-circle"
                                     v-if="person.picture">
                                <span v-text="person.fullName"/>
                            </h5>
                            <dl class="row">
                                <dt class="col-md-3">{% trans %}Name{% endtrans %}:</dt>
                                <dd class="col-md-9" v-text="person.fullName"/>
                                <dt class="col-md-3">{% trans %}E-Mail{% endtrans %}:</dt>
                                <dd class="col-md-9" v-text="person.email"/>
                                <dt class="col-md-3">{% trans %}Phone{% endtrans %}:</dt>
                                <dd class="col-md-9" v-text="person.phone"/>
                                <dt class="col-md-3">{% trans %}Address{% endtrans %}:</dt>
                                <dd class="col-md-9" v-text="person.address.fullAddress"/>
                            </dl>
                            <a :href="edit_path" class="btn btn-primary">
                                <i class="fas fa-edit mr-1"></i>
                                {% trans %}Edit{% endtrans %}
                            </a>
                            <a :href="show_path" class="btn btn-info">
                                <i class="fas fa-eye mr-1"></i>
                                {% trans %}Show{% endtrans %}
                            </a>
                        </template>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js"
            integrity="sha256-NSuqgY2hCZJUN6hDMFfdxvkexI7+iLxXQbL540RQ/c4=" crossorigin="anonymous"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                people: {{ people|map(p => {id: p.id, name: p.fullName, avatar: p.picture.realPath ?? null})|json_encode|raw }},
                loading: false,
                person: {}
            },
            computed: {
                edit_path() {
                    return '{{ path('person_edit', {id: 0}) }}'.replace(0, this.person.id)
                },
                show_path() {
                    return '{{ path('person_show', {id: 0}) }}'.replace(0, this.person.id)
                }
            },
            methods: {
                loadPerson({id}) {
                    this.loading = true;
                    $.ajax({
                        url: '{{ path('person_details', {id: 0}) }}'.replace(0, id),
                        success: person => this.person = person,
                        complete: () => this.loading = false
                    })
                }
            }
        })
    </script>
{% endblock %}
