{% extends 'base.html.twig' %}

{% block title %}{% trans %}New Person{% endtrans %}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ block('title') }}</li>
{% endblock %}

{% block body %}
    {% include 'person/_form.html.twig' with {title: block('title')} %}
{% endblock %}
