{% extends 'base.html.twig' %}

{% block title %}{{ person.firstName }}{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active">{{ person.firstName }}</li>
{% endblock %}

{% block body %}
    <div class="card" v-else>
        <div class="card-body">
            <h5 class="card-title">
                {% if person.picture %}
                    <img src="{{ person.picture.realPath }}" class="avatar border rounded-circle">
                {% endif %}
                {{ person.fullName }}
            </h5>
            <dl class="row">
                <dt class="col-md-2">{% trans %}Name{% endtrans %}:</dt>
                <dd class="col-md-10">{{ person.fullName }}</dd>
                <dt class="col-md-2">{% trans %}E-Mail{% endtrans %}:</dt>
                <dd class="col-md-10">{{ person.email }}</dd>
                <dt class="col-md-2">{% trans %}Phone{% endtrans %}:</dt>
                <dd class="col-md-10">{{ person.phone }}</dd>
                <dt class="col-md-2">{% trans %}Address{% endtrans %}:</dt>
                <dd class="col-md-10">{{ person.address.fullAddress }}</dd>
            </dl>
            <div class="row">
                <div class="col-auto">
                    <a href="{{ path('person_edit', {id: person.id}) }}" class="btn btn-primary">
                        <i class="fas fa-edit mr-1"></i>
                        {% trans %}Edit{% endtrans %}
                    </a>
                    <a href="{{ path('person_index') }}" class="btn btn-secondary">
                        <i class="fas fa-list mr-1"></i>
                        {% trans %}List{% endtrans %}
                    </a>
                </div>
                <div class="col text-right">
                    <button class="btn btn-danger" type="button" onclick="$('#delete').submit()">
                        <i class="fas fa-trash mr-1"></i>
                        {% trans %}Delete{% endtrans %}
                    </button>
                </div>
            </div>
        </div>
    </div>
    {{ include('person/_delete_form.html.twig') }}
{% endblock %}
